[run]
branch = True
source = sphinxmixcrypto
parallel = True

[paths]
source =
    sphinxmixcrypto
   .tox/*/lib/python*/site-packages/sphinxmixcrypto
   .tox/*/lib/site-packages/sphinxmixcrypto
   .tox/pypy*/site-packages/sphinxmixcrypto

[report]
omit =
 */python?.?/*
 *__init__*
